name: test targets workflow

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:
    # branches:
    #   - '*'

jobs:
  test-targets-workflow:
    runs-on: ubuntu-latest
    container: rocker/tidyverse:4.4.0
    env:
      GIT_CRYPT_KEY64: ${{ secrets.GIT_CRYPT_KEY64 }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Install system dependencies
        run: |
          apt-get update && apt-get install -y --no-install-recommends \
          libxt6 libglpk-dev libpoppler-cpp-dev libmagick++-dev \
          libtesseract-dev libleptonica-dev tesseract-ocr-eng
          
      - name: Trust git repo
        run: |
          git config --global --add safe.directory /__w/pagasa_db/pagasa_db
          
      - name: Install packages from renv.lock (with cache)
        if: ${{ !env.ACT }}  
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 2

      - name: Install packages from renv.lock (local, no cache)
        if: ${{ env.ACT }}  
        run: |
          renv::restore()
        shell: Rscript {0}
        
      - name: Run workflow
        run: |
          targets::tar_make(
            cyclones_peak_data_csv, script = "_targets_cyclones.R"
          )
        shell: Rscript {0}
        
        